<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>Skeleton</title>
</head>

<body>
  {{#if user}}
  <div class="col justify-content-lg-center mt-2">
    <a class="w-50 btn btn-primary my-2" href="/posts/new">Create new posts</a>
    <a class="w-50 btn btn-primary my-2" href="/posts">All posts</a>
    <a class="w-50 btn btn-primary my-2" href="/posts/user">My posts</a>
    <a class="w-50 btn btn-primary my-2" href="/logout">Logout from {{user.name}}</a>
  </div>
  {{/if}}
  {{{body}}}
</body>

</html>
